@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --text-primary: #e8374e;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  width: 5px;
  background-color: #1d1d1d;
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-primary);
  border-radius: 5px;
}
.bg-primary-red {
  background-color: var(--text-primary);
}
.bg-primary {
  background-color: #1d1d1d;
}
.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: #37e873;
}
.text-stroke {
  color: #2c2c2c;
  -webkit-text-stroke: 2px var(--text-primary);
  /* text-shadow: -1px 1px 0 var(--text-primary),
				  1px 1px 0 var(--text-primary),
				 1px -1px 0 var(--text-primary),
				-1px -1px 0 var(--text-primary); */
}
iframe {
  transition: all 0.25s ease-in-out;
}
iframe:hover {
  transform: scale(1.04) rotateZ(4deg);
}
@media (max-width: 488px) {
  .tweet iframe:nth-child(1) {
    transform: rotateZ(4deg);
  }
}
