@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --text-primary:#E8374E;

}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  width: 5px;
  background-color: #1D1D1D;
}
::-webkit-scrollbar-thumb{
  background-color:var(--text-primary);
  border-radius: 5px;
}
.bg-primary-red{
  background-color: var(--text-primary);
}
.bg-primary{
  background-color: #1D1D1D;
}
.text-primary{
  color: var(--text-primary);
}
.text-stroke{
  color: #2c2c2c;
	-webkit-text-stroke: 2px var(--text-primary);
  /* text-shadow: -1px 1px 0 var(--text-primary),
				  1px 1px 0 var(--text-primary),
				 1px -1px 0 var(--text-primary),
				-1px -1px 0 var(--text-primary); */
}